@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Funnel Sans', ui-sans-serif, system-ui, sans-serif;

    --font-heading: 'Funnel Sans', ui-sans-serif, system-ui, sans-serif;

    --color-slate-500: #6B818C;
    --color-midnight-500: #291528;
    --color-midnight-300: #432342;
    --color-platinum-300: #EDF2F4;
    --color-pale-sky-500: #CCDAE0;
    --color-pumpkin-500: #FF6700;
}

@layer base {
    body {
        @apply bg-platinum-300;
        @apply text-midnight-500;
        @apply font-sans;
        @apply text-base;
    }

    h1, h2, h3, h4, h5, h6{
        @apply font-heading;
        @apply uppercase;
        @apply font-bold;
    }

    a {
        @apply font-heading;
        @apply text-pale-sky-500;
        @variant hover {
            @apply text-platinum-300;
        }
        @variant active {
            @apply text-midnight-500;
        }
    }
}
