@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-heading: 'Instrument Serif', ui-serif, Georgia, 'Times New Roman', Times, serif; 

    --color-slate: #6B818C;
    --color-midnight: #291528;
    --color-platinum: #EDF2F4;
    --color-pale-sky: #CCDAE0;
    --color-pumpkin: #FF6700;
}
